{% load static %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<head>
    <title>Full Circl</title>
</head>
<body>
	<div class="wrapper">
		<div class="homeButton">
			<h1><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" style="width:4.3em;height:4em;"></a></h1>
		</div>

	    {% block content %}
      	{% endblock %}

		<div class="footer">
			{% block footer %}
    		<hr>
    		<p>&copy Full Circl 2017 All Rights Reserved</p>
    		{% endblock %}
		</div>
	</div>

</body>
</html>