{% extends 'baseHome.html' %}
{% load static %}
{% block content %}

<h2>What is Full Circl?</h2>

<div>

<p class="method">
What's the problem?
<br></br>
Full Circl is what networking and opportunity matching should be.  Nowadays, many companies and organizations are in desperate need of talented workers.  Meanwhile, many students and job seekers struggle to find opportunities that are relevant and meaningful for them.  The reason for this?  The traditional process of searching finding suitable opportunities is both tedious and arduous.  Finding opportunities online usually means many hours wasted on scouring the internet and sending resumes to what are essentially bottomless pits.  Even networking is inefficient and similarly involves meticulously combing through alumni databases, professional networking sites, and other sources to find an individual who is the “perfect match”. 
</p>

<p class="method">
How do we help?
<br></br>
This is where Full Circl comes in.  Through an extremely easy to use interface, individuals can can create personalized profiles on who they are and what they are looking for  (e.g. education background, skills, interests etc.).  Then our platform will return a stack of other individuals for which it believes you would have a great experience in meeting.  From there, one can simply look through the profiles that our platform has recommended and express interest in the people one would like to know better.  If there’s mutual interest on both sides, our platform can then alert and facilitate a “coffee chat”. 
</p>

<p class="method">
Who's it for?
<br></br>
Where you’re a student looking for your first internship, a seasoned professional looking for a career change, a founder of a small non-profit looking for volunteers, a recruiter from a large multinational, or just someone looking to expand their network, Full Circl can help you. 
</p>


{% endblock %}